@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #221f2f;
    /* background-repeat: no-repeat; */
    color: white;
}

body::after {
    content: "";
    position: absolute;
    background-color: #ed2ff0;
    width: 120px;
    height: 120px;
    left: 75%;
    top: 20%;
    filter: blur(90px);
}

body::before {
    content: "";
    position: absolute;
    background-color: #22a8cd;
    width: 120px;
    height: 120px;
    left: 10%;
    top: 80%;
    filter: blur(90px);
}


.wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    /* border: 1px solid black; */
}

.call-tracker {
    width: 100%;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    /* gap: 1.2em; */
    background: rgb(0, 0, 0, 0.4);
    border-radius: 0.6em;
    /* border: 1px solid black; */
}

.call-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.call-type > h3 {
    font-size: 1em;
}

.total-container {
    width: 100px;
    margin: 0 auto;
    /* border: 1px solid black; */
    /* justify-content: center; */
}

.total-container > h3 {
    margin: auto;
}

.calls {
    display: flex;
    width: 130px;
    justify-content: space-between;
}

.call-add, .clear{
    border: 1px solid #ccc;
    outline: none;
    background-color: transparent;
    padding: 0.5em 1.1em;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.call-add:hover, .clear:hover {
    border-color: #0d47a1;
    color: #0d47a1;
}

.call-add > span{
    font-size: 1.1em;
}


.clear-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    font-size: 1.2em;
}